@import "mixins";

body{
    .main-content{
        @include clearfix;
    }
}
#login-card{
        .card{
            margin-left: auto;
            margin-right: auto;
        }
        form{
            padding: 5px;
        }
        .btn{
            border-radius: 40px;
        }
}
#home{
    img{
        height: 400px;
        width: 100%;
    }
    .not-updated{
        h3{
            color: #99adf9;
        }
    }
    .updated{
        img{
            height: 150px;
            width: 150px;
        }
    }
    
}